<html lang="en" ng-app="VolunteerApp">
<head>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="/bower_components/ngImgCrop/compile/unminified/ng-img-crop.css">
    <link rel="stylesheet" href="/bower_components/mdPickers/dist/mdPickers.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="/style.css">
    <style>
        /* used as internal style to prevent async loading of this rule */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75828075-1', 'auto');
       // ga('send', 'pageview');

    </script>
    <title>VolunteerApp</title>
</head>
<body layout="row" ng-controller="IndexCtrl">

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="leftOpen" md-is-locked-open="leftOpen && $mdMedia('gt-md')" ng-cloak>
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-picture picture="{{user.picture}}" size="64"></user-picture>
            <span></span>
            <div>{{user.name}} ({{user.roleLabel}})</div>
            <div>{{user.email}}</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item class="sidebarListItem" ng-repeat="item in menu" ng-click="openView(item.link)">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <div class="inset">{{item.title}}
                </div>
            </md-item-content>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>Mein Bereich</md-subheader>
        <md-list-item class="sidebarListItem" ng-repeat="item in mymenu" ng-click="openView(item.link)">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <div class="inset">{{item.title}}
                </div>
            </md-item-content>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>Kontaktinformationen</md-subheader>
        <md-list-item class="sidebarListItem">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset" style="font-size: smaller;">Bei Rückfragen wenden Sie sich bitte an <b>Marcel Cervinka</b> unter <b>089 230 691433</b>  oder marcel.cervinka@condrobs.de.</div>
            </md-item-content>
        </md-list-item>
    </md-list>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main" style="overflow: hidden; padding-bottom: 60px">
    <div ng-view></div>
</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-material-icons/angular-material-icons.js"></script>
<script src="/bower_components/angular-base64/angular-base64.js"></script>
<script src="/bower_components/material-calendar/angular-material-calendar.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="/bower_components/ngImgCrop/compile/unminified/ng-img-crop.js"></script>
<script src="/bower_components/mdPickers/dist/mdPickers.min.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/moment/locale/de.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angulartics/dist/angulartics.min.js"></script>
<script src="/bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
<script src="/bower_components/pdfmake/build/pdfmake.js"></script>
<script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>

<script src="/app.js"></script>
<script src="/app.routes.js"></script>
<script src="/app.service.js"></script>
<script src="/shared/toolbar/toolbar.directive.js"></script>
<script src="/shared/useradvatar/useradvatar.directive.js"></script>
<script src="/shared/userpicture/userpicture.directive.js"></script>
<script src="/shared/organizationadvatar/organizationadvatar.directive.js"></script>


<script src="/index.js"></script>
<script src="/views/user/user.js"></script>
<script src="/views/user/adduser.js"></script>
<script src="/views/user/userlist.js"></script>
<script src="/views/event/event.js"></script>
<script src="/views/event/addevent.js"></script>
<script src="/views/event/eventcalendar.js"></script>
<script src="/views/organization/organization.js"></script>
<script src="/views/organization/organizationlist.js"></script>
<script src="/views/organization/addorganization.js"></script>
<script src="/views/login/login.js"></script>
<script src="/views/dashboard/dashboard.js"></script>
<script src="/views/mydata/mydata.js"></script>
<script src="/views/myevent/myevent.js"></script>

</body>
</html>
