md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}
md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}
.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}
md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.user-avatar {
    border-radius: 99%;
}
.event-calendar{
    background-color: #fff;
}
/**makes date-time-picker match with color scheme*/
md-toolbar.md-hue-1:not(.md-menu-toolbar) {
    background-color: #07A9F3;
    color: rgba(255,255,255,0.87);
}
.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal; }
.autocomplete-custom-template li:last-child {
    border-bottom-width: 0; }
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2; }
.autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}
md-tooltip .md-content {
    height: auto;
    line-height: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
    text-align: center;
}
.inputContainerMessage{
    color: rgb(221,44,0);
    font-size: 12px;
}
.sidebarListItem .md-no-style, md-list-item.md-no-proxy {
    padding:0px;
}
md-list{
    padding:0px;
}
fieldset.standard {
    border-style: solid;
    border-width: 1px;
    border-color: #ff6400;
}
