<toolbar title="{{breadcrumb()}}"></toolbar>

<script src="angular-material.min.js"></script>

<md-content flex md-scroll-y layout-fill layout-padding>

        <md-card style="padding: 0px;">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-fab md-mini md-primary" aria-label="Settings" ng-click="back()">
                        <ng-md-icon icon="arrow_back" size="24"></ng-md-icon>
                    </md-button>
                    <h2>
                        <span>{{event.title}}</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <ng-switch on="selectedTabNr" class="tabpanel-container">
                <md-card-content>
                    <form name="eventForm" layout-padding="">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Titel</label>
                                <input required name="eventTitle" ng-model="event.title" ng-pattern="/^[a-zA-Z0-9öüäßÜÖÄ\- ]+$/">
                                <div ng-messages="eventForm.eventTitle.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.eventTitle.$error.required && eventForm.eventTitle.$touched">
                                        Titel muss ausgefüllt sein!
                                    </div>
                                    <div class="inputContainerMessage" ng-if="eventForm.eventTitle.$error.pattern && eventForm.eventTitle.$touched">
                                        Es sind nur Buchstaben, Leerzeichen und Bindestriche zulässig
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Organisation</label>
                                <md-select ng-model="event.organization" md-on-open="loadOrganizations()">
                                    <md-option ng-repeat="orga in organizationlist" value="{{orga.id}}">
                                        {{orga.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Benötigte Helfer</label>
                                <input type="number" min="0" ng-model="event.nrhelpers"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Ort</label>
                                <input ng-model="event.place" name="eventPlace" required>
                                <div ng-messages="eventForm.eventPlace.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.eventPlace.$error.required && eventForm.eventPlace.$touched">
                                        Ort muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickStartDay($event)" class="material-icons">today</md-icon>
                                <label>Start Datum</label>
                                <input type="date" ng-click="pickStartDay($event)" ng-model="startDay" required name="startDay"/>
                                <div ng-messages="eventForm.startDay.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.startDay.$error.required && eventForm.startDay.$touched">
                                        Start Datum muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickStartTime($event)" class="material-icons">access_time</md-icon>
                                <label>Start Uhrzeit</label>
                                <input ng-click="pickStartTime($event)" type="time" ng-model="startTime" name="startTime" required/>
                                <div ng-messages="eventForm.starTime.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.startTime.$error.required && eventForm.startTime.$touched">
                                        Start Uhrzeit muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickEndDay($event)" class="material-icons">today</md-icon>
                                <label>End Datum</label>
                                <input type="date" ng-click="pickEndDay($event)" ng-model="endDay" name="endDay" required />
                                <div ng-messages="eventForm.endDay.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.endDay.$error.required && eventForm.endDay.$touched">
                                        End Datum muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickEndTime($event)" class="material-icons">access_time</md-icon>
                                <label>End Uhrzeit</label>
                                <input ng-click="pickEndTime($event)" type="time" ng-model="endTime" name="endTime" required/>
                                <div ng-messages="eventForm.endTime.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.endTime.$error.required && eventForm.endTime.$touched">
                                        End Uhrzeit muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Beschreibung</label>
                                <textarea ng-model="event.description" columns="3" md-maxlength="150" rows="5"></textarea>
                            </md-input-container>
                        </div>
                    </form>

                </md-card-content>
                <md-card-footer>
                    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                        <md-button class="md-raised" ng-click="showCancel()">Abbrechen</md-button>&nbsp;
                        <md-button ng-disabled="submittingInProgress || eventForm.$invalid" class="md-raised md-primary" ng-click="eventForm.setValidity(); submitAddEvent()">Speichern</md-button>
                    </section>
                </md-card-footer>
            </ng-switch>
        </md-card>

</md-content>
