<toolbar title="{{breadcrumb()}}"></toolbar>

<script src="angular-material.min.js"></script>

<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="insert" hide-sm></div>

        <md-card>
            <ng-switch on="selectedTabNr" class="tabpanel-container">
                <md-card-content>

                    <form name="eventForm" layout-padding="">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Titel</label>
                                <input ng-model="event.title">
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Benötigte Helfer</label>
                                <input type="number" min="0" ng-model="event.nrhelpers"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Ort</label>
                                <input ng-model="event.place">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickStartDay($event)" class="material-icons">today</md-icon>
                                <label>Start Datum</label>
                                <input type="date" mdp-date-picker ng-model="startDay" />
                            </md-input-container>

                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickStartTime($event)" class="material-icons">access_time</md-icon>
                                <label>Start Uhrzeit</label>
                                <input ng-click="pickStartTime($event)" type="time" ng-model="startTime"/>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickEndDay($event)" class="material-icons">today</md-icon>
                                <label>End Datum</label>
                                <input type="date" mdp-date-picker ng-model="endDay" />
                            </md-input-container>

                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickEndTime($event)" class="material-icons">access_time</md-icon>
                                <label>End Uhrzeit</label>
                                <input ng-click="pickEndTime($event)" type="time" ng-model="endTime"/>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Beschreibung</label>
                                <textarea ng-model="event.description" columns="3" md-maxlength="150" rows="5"></textarea>
                            </md-input-container>
                        </div>
                    </form>

                </md-card-content>
                <md-card-footer>
                    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                        <md-button class="md-raised" ng-click="showCancel()">Abbrechen</md-button>&nbsp;
                        <md-button class="md-raised md-primary" ng-click="submitAddEvent()">Speichern</md-button>
                    </section>
                </md-card-footer>
            </ng-switch>
        </md-card>


    </ui-view>
</md-content>
