<md-dialog aria-label="Event Anmeldung">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nachricht Senden</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:800px;height:400px; ">
            <md-content class="md-padding">
                <p><b>An:</b> Alle angemeldeten Helfer</p>
                <p><b>Betreff:</b> {{event.title}}</p>
                <p><b>Nachricht:</b></p>
                <md-input-container  md-no-float class="md-block">
                    <textarea ng-model="message" rows="15" md-select-on-focus placeholder="Ihre Nachricht an die Helfer ..."></textarea>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Abbrechen
            </md-button>
            <md-button class="md-raised md-primary" ng-click="sendMessage(message)" >
                Senden
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
