<md-dialog aria-label="Helfer zum Event Anmeldung">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Helfer zum Event Anmeldung</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:500px;max-height:810px; ">
            <md-content class="md-padding">
                <p>Wählen Sie einen Helfer aus und melden Ihn verbindlich zum Event <b>{{event.title}}</b> am <b>{{event.startdate | date: 'dd.MM.yyyy'}}</b> an</p>
                   <form ng-submit="$event.preventDefault()">
                       <md-autocomplete
                               md-selected-item="selectedItem"
                               md-search-text="search"
                               md-items="item in userlist"
                               md-item-text="item.name"
                               md-min-length="0"
                               placeholder="Hier Helfername eintippen! "
                               md-menu-class="autocomplete-custom-template">
                           <md-item-template>
                             <span class="item-title">
                                 <user-avatar style="max-width: 20px;"></user-avatar>
                               <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                               <span> {{item.name}} </span>
                             </span>
                             <span class="item-metadata">
                               <span class="item-metastat">
                                 <strong>{{item.email}}</strong> watchers
                               </span>
                               <span class="item-metastat">
                                 <strong>{{item.tel}}</strong> forks
                               </span>
                             </span>
                           </md-item-template>
                       </md-autocomplete>
                   </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Abbrechen
            </md-button>
            <md-button class="md-raised md-primary" ng-click="register()" >
                Anmelden
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
