<md-dialog aria-label="Event Anmeldung">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nachricht Senden</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:500px;max-height:810px; ">
            <md-content class="md-padding">
                <p>Nachricht an alle angemeldeten Helfer!</p>
                <p><b>Betreff: {{event.title}}</b></p>
                <md-input-container class="md-block">
                    <label>Nachricht:</label>
                    <textarea ng-model="message" md-maxlength="1000" rows="15" md-select-on-focus></textarea>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Abbrechen
            </md-button>
            <md-button class="md-raised md-primary" ng-click="sendMessage(message)" >
                Senden
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
