<md-dialog aria-label="Helfer zum Event Anmeldung">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Helfer zum Event anmelden</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:500px;max-height:810px; ">
            <md-content class="md-padding">
                <p>Wählen Sie einen Helfer aus und melden Ihn verbindlich zum Event <b>{{event.title}}</b> am <b>{{event.startdate | date: 'dd.MM.yyyy'}}</b> an</p>
                   <form ng-submit="$event.preventDefault()">
                       <md-autocomplete
                               ng-disabled="isDisabled"
                               md-no-cache="noCache"
                               md-selected-item-change="selectedUserChange(user)"
                               md-search-text="searchText"
                               md-items="user in querySearch(searchText)"
                               md-item-text="user.name"
                               md-min-length="0"
                               placeholder="Hier Helfername eintippen! "
                               md-menu-class="autocomplete-custom-template">
                           <md-item-template>

                              <span class="item-title" layout-align="start centre">
                                  <md-icon  class="material-icons">person</md-icon>
                                  <span ng-bind-html="highlight(searchText, user.name)"></span>
                              </span>
                              <span class="item-metadata">
                                  <span class="item-metastat">
                                      <md-icon  class="material-icons">mail</md-icon>
                                      <span>{{user.email}}</span>
                                  </span>
                                  <span class="item-metastat">
                                      <md-icon  class="material-icons">phone</md-icon>
                                      <span>{{user.tel}}</span>
                                  </span>
                               </span>
                           </md-item-template>
                       </md-autocomplete>
                   </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Abbrechen
            </md-button>
            <md-button class="md-raised md-primary" ng-click="register(selectedUserId)" >
                Anmelden {{user}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
