<md-dialog aria-label="Event absagen">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Event absagen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:500px;max-height:810px; ">
            <md-content class="md-padding" style="text-align: center">
                <p>Sind Sie sicher, dass Sie das Event <b>{{event.title}}</b> am <b>{{event.startdate | date: 'dd.MM.yyyy'}}</b> absagen wollen?</p>
                <p>
                    Um das Event zu löschen geben Sie den Titel des Events in das Feld ein.
                </p>
                <md-input-container flex>
                    <label>Event</label>
                    <input required name="eventTitle" ng-model="eventTitle">
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Abbrechen
            </md-button>
            <md-button class="md-raised md-primary" ng-disabled="event.title.toUpperCase() != eventTitle.toUpperCase()" ng-click="cancelEvent()" >
                Absagen
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
