<toolbar title="{{breadcrumb()}}"></toolbar>

<script src="angular-material.min.js"></script>

<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="insert" hide-sm></div>

        <md-card>
            <md-card-content>
                <form name="eventForm" layout-padding="">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Titel</label>
                            <input ng-model="event.title">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Benötigte Helfer</label>
                            <input type="number" min="0" ng-model="event.anzhelper"/>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Ort</label>
                            <input ng-model="event.place">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-datepicker ng-model="event.startDay" md-placeholder="From date"></md-datepicker>
                        <md-input-container>
                            <label>Start time</label>
                            <input ng-model="event.starttime"/>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-datepicker ng-model="event.endDay" md-placeholder="Until date"></md-datepicker>
                        <md-input-container class="md-block">
                            <label>End time</label>
                            <input ng-model="event.endtime"/>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Beschreibung</label>
                            <textarea ng-model="event.description" columns="3" md-maxlength="150" rows="5"></textarea>
                        </md-input-container>
                    </div>

                </form>
                {{event.helpers}}
                <md-list-item ng-repeat="helper in event.helpers" ng-click="goToPerson(person.name, $event)">
                    <img alt="{{ helper.name }}" ng-src="{{ person.img }}" class="md-avatar" />
                    <p>{{ person.name }}</p>
                    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
                </md-list-item>
            </md-card-content>
            <md-card-footer>
                <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <md-button class="md-raised md-primary" ng-click="register()">Anmelden</md-button>
                    <md-button class="md-raised md-primary" ng-click="unregister()">Abmelden</md-button>
                    <md-button class="md-raised md-primary" ng-click="">Bearbeiten</md-button>
                </section>
            </md-card-footer>
        </md-card>

    </ui-view>
</md-content>