<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd()">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>
<ng-include src="'shared/toolbar/toolbar.html'"></ng-include>
<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>

        <md-card flex-gt-sm="90" flex-gt-md="80">

            <md-card-content class="event-calendar">

                <div>
                    Here:   {{testDate}}
                </div>

                <md-list>
                    <md-list-item ng-repeat="event in eventlist" >
                        <md-item-content>
                            <div class="md-tile-left inset" hide-sm>
                            </div>
                            <div class="md-tile-content">
                                <h3>Title: {{event.title}}</h3>
                                <h4>Description: {{event.description}}</h4>
                                <p>
                                    id: {{event.id}}
                                </p>
                                <p>
                                    event: {{event}}
                                </p>
                            </div>
                        </md-item-content>
                    </md-list-item>
                </md-list>
                <calendar-md
                 flex layout layout-fill
                 calendar-direction="direction"
                 on-prev-month="prevMonth"
                 on-next-month="nextMonth"
                 on-day-click="dayClick"
                 title-format="'MMMM y'"
                 ng-model='selectedDate'
                 week-starts-on="firstDayOfWeek"
                 tooltips="tooltips"
                 day-format="dayFormat"
                 day-label-format="'EEE'"
                 day-label-tooltip-format="'EEEE'"
                 day-tooltip-format="'fullDate'"
                 day-content="setDayContent"
                 disable-future-selection="false"> </calendar-md>
            </md-card-content>
        </md-card>


    </ui-view>
</md-content>