<toolbar title="{{breadcrumb()}}"></toolbar>

<md-content flex md-scroll-y layout-fill layout-padding>
        <md-card style="padding: 0px;">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-fab md-mini md-primary" aria-label="Settings" ng-click="back()">
                        <ng-md-icon icon="arrow_back" size="24">
                            <md-tooltip>
                                Zurück zum Kalender
                            </md-tooltip>
                        </ng-md-icon>
                    </md-button>
                    <h2>
                        <span>{{event.title}}</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content layout="row" layout-align="space-between stretch" style="padding : 0;">

                <div ng-if="editMode" layout-padding style="width: 100%;">
                    <form ng-if="editMode" name="eventForm" layout-padding="">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Titel</label>
                                <input required name="eventTitle" ng-model="event.title" ng-pattern="/^[a-zA-Z0-9öüäßÜÖÄ\- \?\(\)!]+$/">
                                <div ng-messages="eventForm.eventTitle.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.eventTitle.$error.required && eventForm.eventTitle.$touched">
                                        Titel muss ausgefüllt sein!
                                    </div>
                                    <div class="inputContainerMessage" ng-if="eventForm.eventTitle.$error.pattern && eventForm.eventTitle.$touched">
                                        Es sind nur Buchstaben, Zahlen, Leerzeichen und die folgenden Sonderzeichen zulässig: -?!()
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Organisation</label>
                                <md-select ng-model="event.organization" ng-model-options="{trackBy: '$value.id'}">
                                    <md-option ng-repeat="orga in organizationlist" ng-value="{{orga}}">
                                        {{orga.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Benötigte Helfer</label>
                                <input type="number" min="0" ng-model="event.nrhelpers"/>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Treffpunkt</label>
                                <input ng-model="event.place">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickStartDay($event)" class="material-icons">today</md-icon>
                                <label>Start Datum</label>
                                <input ng-click="pickStartDay($event)" type="date" ng-model="startDay" required name="startDay" ng-change="setDay(startDay, event.startdate)"/>
                                <div ng-messages="eventForm.startDay.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.startDay.$error.required && eventForm.startDay.$touched">
                                        Start Datum muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickStartTime($event)" class="material-icons">access_time</md-icon>
                                <label>Start Uhrzeit</label>
                                <input ng-click="pickStartTime($event)" type="time" ng-model="startTime" name="startTime" required ng-change="setTime(startTime, event.startdate)" />
                                <div ng-messages="eventForm.startTime.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.startTime.$error.required && eventForm.startTime.$touched">
                                        Start Uhrzeit muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickEndDay($event)" class="material-icons">today</md-icon>
                                <label>End Datum</label>
                                <input ng-click="pickEndDay($event)" type="date" ng-model="endDay" name="endDay" required ng-change="setDay(endDay, event.enddate)" />
                                <div ng-messages="eventForm.endDay.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.endDay.$error.required && eventForm.endDay.$touched">
                                        End Datum muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex-gt-xs>
                                <md-icon ng-click="pickEndTime($event)" class="material-icons">access_time</md-icon>
                                <label>End Uhrzeit</label>
                                <input ng-click="pickEndTime($event)" type="time" ng-model="endTime" name="endTime" required ng-change="setTime(endTime, event.enddate)"/>
                                <div ng-messages="eventForm.endTime.$error">
                                    <div class="inputContainerMessage" ng-if="eventForm.endTime.$error.required && eventForm.endTime.$touched">
                                        End Uhrzeit muss ausgefüllt sein!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-checkbox ng-click="myStyle={'border-color':'rgb(192, 192, 192)'}"
                                         ng-model="event.isSeries" class="md-warn">
                                Serientermin (wöchentliche Wiederholung)
                            </md-checkbox>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Beschreibung</label>
                                <textarea ng-model="event.description" columns="3" md-maxlength="1500" rows="5"></textarea>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-button class="md-raised" ng-click="abortEdit()" ng-disabled="submitButtonsDisabled">Abbrechen</md-button>
                            <md-button class="md-raised md-primary" ng-click="submitEdit()" ng-disabled="submitButtonsDisabled">Änderungen übernehmen</md-button>
                        </div>
                    </form>
                </div>
                <div ng-if="!editMode" layout-padding>
                    <md-list>
                        <md-list-item class="md-2-line">
                            <md-icon class="material-icons">home
                            </md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3> {{ event.organization.name }} </h3>
                                <p style="color:black;"> {{ event.organization.email }} | {{ event.organization.tel }}</p>
                                <p> Organisation </p>
                            </div>
                            <md-tooltip md-direction="left">
                                Veranstalter des Events
                            </md-tooltip>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <md-icon class="material-icons">group_add
                            </md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3> {{ event.nrhelpersregistered }}/{{ event.nrhelpers }} </h3>
                                <p> Angemeldete / benötigte Helfer </p>
                            </div>
                            <md-tooltip class="tt-multiline" md-direction="left">
                                <span ng-if="event.nrhelpersregistered > 1">{{ event.nrhelpersregistered }} Helfer sind bereits angemeldet,</span>
                                <span ng-if="event.nrhelpersregistered == 1">Es ist 1 Helfer angemeldet,</span>
                                <span ng-if="event.nrhelpersregistered == 0">Es sind keine Helfer angemeldet, </span> <br/>
                                <span ng-if="event.nrhelpers - event.nrhelpersregistered >1">es werden noch {{ event.nrhelpers - event.nrhelpersregistered }} Helfer benötigt.</span>
                                <span ng-if="event.nrhelpers - event.nrhelpersregistered == 1">es wird noch 1 weiterer Helfer benötigt.</span>
                                <span ng-if="event.nrhelpers - event.nrhelpersregistered == 0">es werden keine weiteren Helfer benötigt.</span>
                            </md-tooltip>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <md-icon class="material-icons">place</md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3> {{ event.place }} </h3>
                                <p> Treffpunkt </p>
                            </div>
                        </md-list-item>
                        <md-list-item ng-if="!event.isoneday" class="md-2-line">
                            <md-icon class="material-icons">today
                            </md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3> {{ event.startdate | date: 'dd. MMM yyyy   HH:mm'}} Uhr <i ng-if="event.isSeries">(Serientermin)</i></h3>
                                <p> Begin </p>
                            </div>
                        </md-list-item>
                        <md-list-item ng-if="!event.isoneday" class="md-2-line">
                            <md-icon class="material-icons">today</md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3> {{ event.enddate | date: 'dd. MMM yyyy   HH:mm'}} Uhr </h3>
                                <p> Ende </p>
                            </div>
                        </md-list-item>
                        <md-list-item ng-if="event.isoneday" class="md-2-line">
                            <md-icon class="material-icons">today
                            </md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3 ng-if="event.startdate.getDate() == event.enddate.getDate()"> {{ event.startdate | date: 'dd. MMM yyyy   HH:mm'}} bis {{ event.enddate | date: 'HH:mm'}} Uhr <i ng-if="event.isSeries">(Serientermin)</i></h3>
                                <h3 ng-if="event.startdate.getDate() != event.enddate.getDate()"> {{ event.startdate | date: 'dd. MMM yyyy   HH:mm'}} bis {{ event.enddate | date: 'dd. MMM yyyy   HH:mm'}} Uhr <i ng-if="event.isSeries">(Serientermin)</i></h3>
                                <p> Datum </p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <md-icon class="material-icons">description</md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <h3 style="white-space: pre-line;"> {{ event.description }} </h3>
                                <p> Beschreibung </p>
                            </div>
                        </md-list-item>
                        <md-list-item ng-if="isAdmin || isOrganizer" class="md-2-line">
                            <md-icon class="material-icons"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <md-button class="md-raised md-primary" ng-click="openEdit()">Bearbeiten</md-button>
                                <md-button class="md-raised" ng-click="cancelEvent()">
                                    Absagen
                                    <md-tooltip md-direction="right">
                                        Durch Absagen wird das Event unwiederruflich gelöscht
                                    </md-tooltip>
                                </md-button>
                            </div>
                        </md-list-item>
                        <md-list-item ng-if="isHelper || isTeam" class="md-2-line">
                            <md-icon class="material-icons"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                <md-button ng-if="!event.imregistered && event.nrhelpersregistered != event.nrhelpers" class="md-primary md-raised" ng-click="meRegister($event)">Mich Anmelden</md-button>
                                <md-button ng-disabled="true" ng-if="!event.imregistered && event.nrhelpersregistered == event.nrhelpers" class="md-primary md-raised" ng-click="meRegister($event)">Event bereits voll</md-button>
                                <md-button ng-if="event.imregistered" class="md-raised md-primary" ng-click="meUnregister()">Mich Abmelden</md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div ng-if="isAdmin || isOrganizer || isTeam" style="background-color: #E6E6E6;">
                    <md-list>
                        <md-subheader style="background-color: #E6E6E6;" class="md-no-sticky">Angemeldete Helfer ({{event.nrhelpersregistered}}/{{event.nrhelpers}}):
                            <div style="font-style: italic" ng-if="event.nrhelpersregistered == event.nrhelpers">Event bereits voll, weitere <br/> Anmeldungen nicht mehr möglich.</div>
                        </md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="helper in event.helpers | orderBy: helper" ng-click="helperUnregister(helper)">
                            <div class="md-tile-left inset" hide-sm>
                                <user-picture picture="{{helper.picture}}" size="64"></user-picture>
                            </div>
                            <div class="md-list-item-text">
                                <h3>{{helper.name}}</h3>
                                <p>{{helper.email}}</p>
                                <p ng-if="helper.tel && helper.mobil">{{helper.tel}}/{{helper.mobil}}</p>
                                <p ng-if="helper.tel && !helper.mobil">{{helper.tel}}</p>
                                <p ng-if="!helper.tel && helper.mobil">{{helper.mobil}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <div layout="row">
                        <md-button ng-if="event.nrhelpersregistered != event.nrhelpers" class="md-primary md-raised" ng-click="helperRegister()">
                            Helfer Anmelden
                            <md-tooltip>
                                Weitere Helfer zu diesem Event hinzufügen
                            </md-tooltip>
                        </md-button>
                        <md-button ng-disabled="true" ng-if="event.nrhelpersregistered == event.nrhelpers" class="md-primary md-raised">
                            Event bereits voll
                            <md-tooltip>
                                Event bereits voll, weitere <br/> Anmeldungen nicht mehr möglich.
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-primary md-raised" ng-disabled="event.nrhelpersregistered == 0" ng-click="sendMessage()">
                            Nachricht Senden
                            <md-tooltip>
                                Nachricht an alle ange- <br/> meldeten Helfer senden
                            </md-tooltip>
                        </md-button>
                    </div>

                </div>

            </md-card-content>
        </md-card>

</md-content>


