<md-dialog aria-label="Nutzer löschen">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nutzer löschen</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:500px;max-height:810px; ">
            <md-content class="md-padding">
                <p>Wollen Sie den Account von <b>{{user.name}}</b> wirklich löschen?</p>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Abbrechen
            </md-button>
            <md-button class="md-raised md-primary" ng-click="deleteUser()" >
                Löschen
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
