<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3>ddd</h3>
        <user-picture picture="{{user.picture}}" size="40"/>
    </div>
</md-toolbar>
<!--<toolbar title="<user-picture picture='{{user.picture}}'></user-picture>"></toolbar>-->

<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>

        <md-card style="padding:0px">
            <ng-switch on="selectedTabNr" class="tabpanel-container">
                <md-tabs md-stretch-tabs="always" class="md-primary" md-selected="selectedTabNr">
                    <md-tab id="tab1" aria-controls="tab1-content">
                        Persönliche Daten
                    </md-tab>
                    <md-tab id="tab2" aria-controls="tab2-content">
                        Verfügbarkeit
                    </md-tab>
                    <md-tab id="tab3" aria-controls="tab3-content">
                        Events
                    </md-tab>
                </md-tabs>
                <md-card-content>
                    <div role="tabpanel"
                         id="tab1-content"
                         aria-labelledby="tab1"
                         ng-switch-when="0"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <div ng-if="editMode">
                            <form name="userForm">
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Anrede</label>
                                    <md-select ng-model="user.gender">
                                        <md-option ng-repeat="gender in genders" value="{{gender.id}}">
                                            {{gender.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Name</label>
                                    <input ng-model="user.name">
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input ng-model="user.email">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-sm="column">
                                <md-input-container flex>
                                    <label>Tel</label>
                                    <input ng-model="user.tel">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Mobil</label>
                                    <input ng-model="user.mobil">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-sm="column">
                                <md-input-container flex>
                                    <label>Rolle</label>
                                    <md-select ng-model="user.role">
                                        <md-option ng-repeat="role in roles" value="{{role.id}}">
                                            {{role.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Notizen</label>
                                    <textarea ng-model="user.notes" columns="3" md-maxlength="150" rows="5"></textarea>
                                </md-input-container>
                            </div>
                            <br/><br/>
                            <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                                <md-button class="md-raised" ng-click="edit()">Abbrechen</md-button>&nbsp;
                                <md-button class="md-raised md-primary" ng-click="submitPersonalData()">Speichern</md-button>
                            </section>
                            </form>
                        </div>
                        <div ng-if="!editMode">
                            <md-list>
                                <md-list-item class="md-2-line">
                                    <md-icon class="material-icons">person</md-icon>
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <h3> {{user.genderLabel}} {{ user.name }} </h3>
                                        <p> Name </p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <md-icon class="material-icons">mail</md-icon>
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <h3> {{ user.email }} </h3>
                                        <p> E-Mail </p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <md-icon class="material-icons">phone</md-icon>
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <h3> {{ user.tel }} </h3>
                                        <p> Tel </p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <md-icon class="material-icons">phone_iphone</md-icon>
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <h3> {{ user.mobil }}</h3>
                                        <p> Mobil </p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <md-icon class="material-icons">group</md-icon>
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <h3> {{ user.roleLabel }} </h3>
                                        <p> Rolle </p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <md-icon class="material-icons">description</md-icon>
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <h3> {{ user.notes }} </h3>
                                        <p> Notizen </p>
                                    </div>
                                </md-list-item>
                                <md-list-item ng-if="editVisible" class="md-2-line">
                                    <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }">
                                        <md-button class="md-raised md-primary" ng-click="edit()">Bearbeiten</md-button>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <div role="tabpanel"
                         id="tab2-content"
                         aria-labelledby="tab2"
                         ng-switch-when="1"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <form name="userForm">

                            <table>
                                <tr>
                                    <td></td>
                                    <td width="80">Montag</td>
                                    <td width="80">Dienstag</td>
                                    <td width="80">Mittwoch</td>
                                    <td width="80">Donnerstag</td>
                                    <td width="80">Freitag</td>
                                    <td width="80">Samstag</td>
                                    <td width="80">Sonntag</td>
                                </tr>
                                <tr>
                                    <td>Vormittag</td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.mo.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.tu.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.we.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.th.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.fr.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.sa.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.su.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                </tr>
                                <tr>
                                    <td>Nachmittag</td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.mo.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.tu.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.we.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.th.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.fr.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.sa.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.su.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                </tr>
                                <tr>
                                    <td>Abend</td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.mo.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.tu.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.we.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.th.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.fr.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.sa.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                    <td><md-checkbox ng-disabled="!editMode" ng-model="user.availability.su.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
                                </tr>

                            </table>
                            <br/><br/>
                            <section ng-if="editVisible && !editMode" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                                <md-button class="md-raised md-primary" ng-click="edit()">Bearbeiten</md-button>
                            </section>
                            <section ng-if="editMode" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                                <md-button class="md-raised" ng-click="edit()">Abbrechen</md-button>&nbsp;
                                <md-button class="md-raised md-primary" ng-click="submitPersonalData()">Speichern</md-button>
                            </section>
                        </form>
                    </div>
                    <div role="tabpanel"
                         id="tab3-content"
                         aria-labelledby="tab3"
                         ng-switch-when="2"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="column" layout-align="center center">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="e in futureevents" ng-click="selectEvent(e.id)">
                                <div class="md-tile-left inset" hide-sm >
                                    <ng-md-icon icon="event_available" size="48"></ng-md-icon>
                                </div>
                                <div class="md-list-item-text">
                                    <h3><b>{{e.title}}</b></h3>
                                    <h4>{{e.startdate | date: 'dd.MM.yyyy HH:mm'}} Uhr</h4>
                                    <p>{{e.description}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-card-content>
            </ng-switch>
        </md-card>


    </ui-view>
</md-content>