<toolbar title="{{breadcrumb()}}"></toolbar>

<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>

        <md-card style="padding: 0px">
                <md-card-content>

                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="e in myevents" ng-click="selectUser(user.id)">
                            <div class="md-tile-left inset" hide-sm >
                                <ng-md-icon icon="event_available" size="48"></ng-md-icon>
                            </div>
                            <div class="md-list-item-text">
                                <h3><b>{{e.title}}</b></h3>
                                <h4>{{e.startdate | date: 'dd.MM.yyyy HH:mm'}} Uhr</h4>
                                <p>{{e.description}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <p ng-if="event.length==0">Sie sind für keine Events Registiert!</p>

                </md-card-content>
            </ng-switch>
        </md-card>


    </ui-view>
</md-content>
