<table>
    <tr>
        <td></td>
        <td width="80">Montag</td>
        <td width="80">Dienstag</td>
        <td width="80">Mittwoch</td>
        <td width="80">Donnerstag</td>
        <td width="80">Freitag</td>
        <td width="80">Samsatg</td>
        <td width="80">Sonntag</td>
    </tr>
    <tr>
        <td>Vormittag</td>
        <td><md-checkbox ng-model="availabilit.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
    </tr>
    <tr>
        <td>Nachmittag</td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
    </tr>
    <tr>
        <td>Abend</td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" class="md-warn md-align-top-left"/></td>
    </tr>

</table>