<table>
    <tr>
        <td></td>
        <td width="80">Montag</td>
        <td width="80">Dienstag</td>
        <td width="80">Mittwoch</td>
        <td width="80">Donnerstag</td>
        <td width="80">Freitag</td>
        <td width="80">Samsatg</td>
        <td width="80">Sonntag</td>
    </tr>
    <tr>
        <td>Vormittag</td>
        <td><md-checkbox ng-model="availability.mo.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.tu.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.we.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.th.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.fr.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.sa.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.su.morning" aria-label="ava" class="md-warn md-align-top-left"/></td>
    </tr>
    <tr>
        <td>Nachmittag</td>
        <td><md-checkbox ng-model="availability.mo.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.tu.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.we.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.th.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.fr.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.sa.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.su.afternoon" aria-label="ava" class="md-warn md-align-top-left"/></td>
    </tr>
    <tr>
        <td>Abend</td>
        <td><md-checkbox ng-model="availability.mo.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.tu.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.we.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.th.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.fr.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.sa.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
        <td><md-checkbox ng-model="availability.su.evening" aria-label="ava" class="md-warn md-align-top-left"/></td>
    </tr>

</table>