<md-dialog aria-label="Contact">
    <md-dialog-content >
        <md-content class="md-padding" style="min-width:400px">
            <div style="width:450px;">
                <div layout="row" class="zero">
                    <div flex="50" >
                        <img src="/img/tumlogo_simple_blue.png" height="30" />&nbsp;&nbsp;&nbsp;<img src="/img/sebislogo2.png" height="30" /><br/>
                        <br/><br/>
                        <span style="font-size: 12px;">Für technisches Rückfragen:</span><br/><br/><br/>
                        <b>Felix Michel</b><br/>
                        <span style="font-size: 12px;">
                            Technische Universität München<br/>
                            Fakultät für Informatik<br/>
                            Lehrstuhl für Software Engineering <br/> betrieblicher Informationssysteme<br/>
                            <b>felix.michel@tum.de</b>
                        </span>
                    </div>
                    <div flex="50">
                        <img src="/img/condrobs_logo.jpg" height="30" /><br/>
                        <br/><br/>
                        <span style="font-size: 12px;">
                            Für administrative Rückfragen:<br/>
                            (Passwort zurücksetzen etc.)
                        </span>
                        <br/> <br/>
                        <b>Marcel Cervinka</b><br/>
                        <span style="font-size: 12px;">
                            Condrobs e.V. Puerto<br/>
                            Koordination Ehrenamt<br/>
                            für unbegleitete Minderjährige (uM)
                            <b>marcel.cervinka@condrobs.de</b>
                        </span>
                    </div>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>