<md-dialog aria-label="Contact">
    <md-dialog-content >
        <md-content class="md-padding" style="min-width:400px">
            <div layout="row" class="zero">
                <div flex="50" >
                    <img src="/img/tumlogo_simple_blue.png" height="30" /><br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <b>Felix Michel</b><br/>
                    M.Sc.
                </div>
                <div flex="50" style="font-size: small;">
                    <img src="/img/sebislogo2.png" height="30" /><br/>
                    <br/>
                    Technische Universität München<br/>
                    Fakultät für Informatik<br/>
                    Lehrstuhl für Software Engineering <br/> betrieblicher Informationssysteme<br/>
                    <br/>
                    Boltzmannstrasse 3<br/>
                    D-85748 Garching bei München<br/>
                    <br/>
                    felix.michel@tum.de<br/>
                    <a href="https://wwwmatthes.in.tum.de/pages/1pvf6y6f97alz/Felix-Michel">wwwmatthes.in.tum.de</a>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>
