<md-dialog aria-label="Impressum">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Impressum</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content >
        <md-content class="md-padding">
            <b>Anschrift</b><br/>
            Technische Universität München<br/>
            Arcisstraße 21<br/>
            80333 München<br/>
            <br/>
            <br/>
            <b>Vertretungsberechtigt</b><br/>
            Die Technische Universität München ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch den Präsidenten,<br/>
            Prof. Dr. Dr. h.c. mult. Wolfgang A. Herrmann.<br/>
            <br/>
            <br/>
            <br/>
            <b>Zuständige Aufsichtsbehörde</b><br/>
            Bayerisches Staatsministerium für Wissenschaft, Forschung und Kunst<br/>
            <br/>
            <br/>
            <b>Inhaltlich verantwortlich</b><br/>
            Prof. Dr. Florian Matthes<br/>
            Lehrstuhl Software Engineering for Business Information Systems<br/>
            Institut für Informatik, TU München<br/>
            Boltzmannstrasse 3<br/>
            D-85748 Garching bei München<br/>
            E-Mail: matthes(at)in.tum.de<br/>
            <br/>
            <br/>


            <h3>1. Inhalt des Onlineangebotes</h3>
            <div style="text-align: justify;">
                Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
                Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
                Für den Inhalt der persönlichen Webseiten ist der jeweilige Mitarbeiter des Lehrstuhls selbst verantwortlich.
            </div>

            <h3>2. Verweise und Links</h3>
            <div style="text-align: justify;">
                Bei direkten oder indirekten Verweisen auf fremde Webseiten (&#8222;Hyperlinks&#8220;), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
                Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
            </div>

            <h3>3. Urheber- und Kennzeichenrecht</h3>
            <div style="text-align: justify;">
                Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
                Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
                Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
            </div>

            <h3>4. Datenschutz</h3>

            <a href="/de/dataprivacy">siehe Datenschutzerklärung</a>

            <h3>5. Rechtswirksamkeit dieses Haftungsausschlusses</h3>
            <div style="text-align: justify;">
                Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
            </div>

        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" style="margin-right:20px;" >
            Abbrechen
        </md-button>
    </md-dialog-actions>

</md-dialog>
