<md-content flex md-scroll-y flex md-scroll-y layout-fill layout-padding style="padding: 0%;">
    <md-toolbar style="padding: 0%;"  ng-show="!hideBrowserInfo" ng-if="data.browser != 'chrome' && !hideBrowserInfo" class="md-hue-2 md-primary">
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon class="material-icons">warning</md-icon>
            </md-button>
            <h2 ng-if="data.browser != 'unknown'">
                <span>Sie benutzen den Browser <b>{{data.browser}}</b>, voller Support wird nur für <b>chrome</b> gewährleistet.</span>
            </h2>
            <h2 ng-if="data.browser == 'unknown'">
                Voller Support wird nur für den Browser <b>chrome</b> gewährleistet.</span>
            </h2>
            <md-button class="md-icon-button" ng-click="hideBrowserInfo = true">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
        <div layout="column" layout-align="center center" layout-fill>
            <div layout="row" layout-align="center center">
                <md-card >
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>
                                <span>Volunteer App</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                            <span flex></span>
                            <div style="width:35px;"><img src="/img/tumlogo_simple_white.png"/></div>
                        </div>
                    </md-toolbar>
                    <md-card-content ng-if="!inAction" style="padding-bottom: 0px;">
                        <form name="userForm">
                            <div style="height:100px;">
                                <div layout layout-sm="column" layout-align="center center" layout-fill>
                                    <div>
                                        <div layout layout-sm="row">
                                            <md-input-container md-no-float class="md-block" style="margin: 0px; margin-top:10px;">
                                                <input ng-model="email" placeholder="Email">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="row">
                                            <md-input-container md-no-float class="md-block" style="margin: 0px">
                                                <input ng-model="pw" type="password" placeholder="Passwort">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div style="margin-left: 15px;">
                                        <section layout="row" layout-sm="column" layout-align="center end" layout-wrap >
                                            <md-button class="md-fab md-mini md-primary" aria-label="Settings" ng-click="login(email, pw)" style="margin:0px; width:35px; height:35px; line-height: 35px;">
                                                <ng-md-icon icon="arrow_forward" size="24"></ng-md-icon>
                                            </md-button>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                    <md-card-content ng-if="inAction">

                        <div  layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div><br/>
                        <div style="text-align: center;">Einloggen bitte warten ...</div>

                    </md-card-content>
                </md-card>

            </div>
        </div>
</md-content>

<div layout="row" layout-align="center" style="font-size:smaller; color:#666;" layout-padding>
    <div ng-click="openContact()">Kontakt</div>
    <div>&nbsp;|&nbsp;</div>
    <div ng-click="openImpressum()">Impressum </div>
    <div>&nbsp;|&nbsp;</div>
    <div ng-click="openDatenschutz()">Datenschutzerklärung </div>
</div>
