<md-content flex md-scroll-y>
    <ui-view layout="column" layout-fill layout-padding>
        <div class="inset" hide-sm></div>
        <md-card>
                <md-card-content>
                    <form name="userForm">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Email</label>
                                <input ng-model="user.email">
                            </md-input-container>
                            <md-input-container>
                                <label>&nbsp;</label>
                                <md-select ng-model="unknown"/>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Passwort</label>
                                <input ng-model="user.email" type="password">
                            </md-input-container>
                            <md-input-container>
                                <label>&nbsp;</label>
                                <md-select ng-model="unknown"/>
                            </md-input-container>
                        </div>
                        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                            <md-button class="md-raised md-primary">Login</md-button>
                        </section>
                        </form>
                </md-card-content>
        </md-card>
    </ui-view>
</md-content>