<md-content flex md-scroll-y flex md-scroll-y layout-fill layout-padding>
        <div layout="column" layout-align="center center" layout-fill>
            <div layout="row" layout-align="center center">
                <md-card >
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>
                                <span>Volunteer App Login</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            </h2>
                            <span flex></span>
                            <div style="width:35px;"><img src="/img/tumlogo_simple_white.png"/></div>
                        </div>
                    </md-toolbar>
                    <md-card-content ng-if="!inAction">
                        <form name="userForm">
                            <div style="height:100px">
                            <div layout layout-sm="column" layout-align="center center" layout-fill>
                                <div>
                                    <div layout layout-sm="row">
                                        <md-input-container md-no-float class="md-block" style="margin: 0px">
                                            <input ng-model="email" placeholder="Email">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="row">
                                        <md-input-container md-no-float class="md-block" style="margin: 0px">
                                            <input ng-model="pw" type="password" placeholder="Passwort">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div>
                                    <section layout="row" layout-sm="column" layout-align="center end" layout-wrap style="margin-right:-70px;">
                                        <md-button class="md-fab md-mini md-primary" aria-label="Settings" ng-click="login()">
                                            <ng-md-icon icon="arrow_forward" size="24"></ng-md-icon>
                                        </md-button>
                                    </section>
                                </div>
                            </div>
                            </div>
                        </form>
                    </md-card-content>
                    <md-card-content ng-if="inAction">
                        Einloggen bitte warten ...<br/>
                        <div  layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </md-card-content>
                </md-card>

            </div>
        </div>
</md-content>

<div layout="row" layout-align="center" style="font-size:smaller; color:#666;" layout-padding>
    <div ng-click="openContact()">Kontakt</div>
    <div>&nbsp;|&nbsp;</div>
    <div ng-click="openImpressum()">Impressum </div>
    <div>&nbsp;|&nbsp;</div>
    <div ng-click="openDatenschutz()">Datenschutzerklärung </div>
</div>
