

<span ng-click="setSelectedRole('HELPER')">Helfer</span>
<span ng-click="setSelectedRole('TEAM')">Team</span>
<span ng-click="setSelectedRole('ORGANIZER')">Organisatoren</span>
<br/>

<div ng-repeat="u in users | filter: isSelectedRole" ng-click="selectUser(u)">{{u.name}}</div>
<div></div>

<button ng-click="">Helfer Hinzufügen</button>
<br/>
<br/>
<br/>
<span ng-click="tab='data'">Persönliche Daten</span>
<span ng-click="tab='availability'">Verfügbarkeit</span>
<span ng-click="tab='events'">Events</span>
<br/>



<div ng-if="tab=='data'">
    Name: <input type="text" placeholder="Vor- Nachname" ><br/>
    Email: <input type="text" placeholder="Email" ><br/>
    Tel: <input type="text" placeholder="+49 08783" ><br/>
    Mobil: <input type="text" placeholder="+49 08783" ><br/>
    Notiz: <textarea></textarea><br/>
    <button>Speichern</button><button>Löschen</button>
</div>

<div ng-if="tab=='availability'">
    <table>
        <tr>
            <td></td>
            <td>Montag</td>
            <td>Dienstag</td>
            <td>Mittwoch</td>
            <td>Donnerstag</td>
            <td>Freitag</td>
            <td>Samstag</td>
            <td>Sonntag</td>
        </tr>
        <tr>
            <td>Vormittag</td>
            <td><input type="checkbox" ng-model="selectedUser.availability.mo.morning"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.tu.morning"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.we.morning"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.th.morning"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.fr.morning"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.sa.morning"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.su.morning"/></td>
        </tr>
        <tr>
            <td>Nachmittag</td>
            <td><input type="checkbox" ng-model="selectedUser.availability.mo.afternoon"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.tu.afternoon"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.we.afternoon"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.th.afternoon"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.fr.afternoon"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.sa.afternoon"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.su.afternoon"/></td>
        </tr>
        <tr>
            <td>Abend</td>
            <td><input type="checkbox" ng-model="selectedUser.availability.mo.evening"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.tu.evening"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.we.evening"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.th.evening"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.fr.evening"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.sa.evening"/></td>
            <td><input type="checkbox" ng-model="selectedUser.availability.su.evening"/></td>
        </tr>
    </table>
    <button ng-click="submitAvailability()">Änderungen übernehmen</button><button>Änderungen verwerfen</button>
</div>

<div ng-if="tab=='events'">

</div>

